{% extends 'index.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'CSS/order_1.css' %}">
    <section class="ezy__eporder4_w7xGih1W">
  <div class="container py-5">
    <div class="row justify-content-center">
      <!-- progress bar -->
      <div class="col-12">
        <div class="ezy__eporder4_w7xGih1W-progress d-flex justify-content-between position-relative mb-5">
          <span class="ezy__eporder4_w7xGih1W-cart active">1</span>
          <span class="ezy__eporder4_w7xGih1W-bill active">2</span>
          <span class="ezy__eporder4_w7xGih1W-completed active">3</span>
        </div>
      </div>
      <div class="card border-0 py-5 mt-4">
        <div class="card-body text-center py-md-5">
          <div class="ezy__eporder4_w7xGih1W-check">
            <i class="fas fa-check"></i>
          </div>
          <h1 class="ezy__eporder4_w7xGih1W-heading my-3">Your Order is Successful</h1>
          <p class="ezy__eporder4_w7xGih1W-sub-heading">
            In purus donec ac in nulla lobortis. Lectus massa erat odio turpis nulla sed.
          </p>
          <a class="btn ezy__eporder4_w7xGih1W-btn mt-4" href="{% url 'about_us' %}">Back To Courses</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}