{% extends 'index.html' %}
{% load static %}


{% block content %}
    <!-- Category-->

    <link rel="stylesheet" href="{% static 'CSS/category.css' %}">
    <section class="ezy__epcategory5_ayqDrKgT">
        <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="ezy__epcategory5_ayqDrKgT-heading">Product Category</h2>
      </div>
    </div>
    <div class="row mt-4 mt-sm-5 ezy__epcategory5_ayqDrKgT-row">




        <!-- card start -->
            {% for item in categories_with_count %}
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 p-2">
            <a href="{% url 'products_by_category' category_id=item.category.id %}">
              <div class="card ezy__epcategory5_ayqDrKgT-card">
                <img
                  src="{{ item.category.photo.url }}"
                  class="card-img-top"
                  alt='{{ item.category.name }}'
                />
                <div class="card-body text-start pb-0">
                  <h5 class="ezy__epcategory5_ayqDrKgT-card-title m-0">{{ item.category.name }}</h5>
                  <p class="ezy__epcategory5_ayqDrKgT-card-text">avalibale {{ item.product_count  }} items</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
        <!-- card end -->

    </div>
  </div>
    </section>
    <!-- Category-->

    {% endblock %}

