{% extends 'index.html' %}

{% block content %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'CSS/category.css' %}">
       <section class="ezy__epgrid1">
          <div class="container">
            <h2 class="ezy__epgrid1-heading text-center">Our Products</h2>
            <!-- row start -->
            <div class="row ezy__epgrid1-row text-center justify-content-xl-center mt-5">
              <!-- card start -->
                {% for product in products %}
                  <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                    <div class="card ezy__epgrid1-card position-relative p-2">
                      <a href="{% url 'product_detail' product.id %}">
                        <div class="ezy__epgrid1-fav-icon"><i class="fas fa-heart"></i></div>
                      </a>
                      <div class="card-body">
                        <div class="ezy__epgrid1-card-img d-flex justify-content-center align-items-center h-100 px-4">
                          <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.photo.url }}" alt="{{ product.name }}" />
                          </a>
                        </div>
                      </div>
                      <div class="card-body h-100 pt-0 text-start">
                        <a href="{% url 'product_detail' product.id %}">
                          <h5 class="ezy__epgrid1-title">Full Body Massage Chair weightless Bluetooth</h5>
                        </a>
                        <h5 class="ezy__epgrid1-price my-2">$1725.00</h5>
                        <div class="ezy__epgrid1-details d-flex justify-content-between align-items-center">
                          <h5 class="ezy__epgrid1-ratings"><i class="fas fa-star me-1"></i>4.6</h5>
                          <a href="{% url 'product_detail' product.id %}">
                            <h5 class="ezy__epgrid1-cart"><i class="fas fa-shopping-cart"></i></h5>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              <!-- card end -->
              <!-- card start -->
              <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="card ezy__epgrid1-card position-relative p-2">
                  <a href="#!">
                    <div class="ezy__epgrid1-fav-icon"><i class="fas fa-heart"></i></div>
                  </a>
                  <div class="card-body">
                    <div class="ezy__epgrid1-card-img d-flex justify-content-center align-items-center h-100 px-4">
                      <a href="#!">
                        <img src="https://cdn.easyfrontend.com/pictures/products/perfume1.png" alt="..." />
                      </a>
                    </div>
                  </div>
                  <div class="card-body h-100 pt-0 text-start">
                    <a href="#!">
                      <h5 class="ezy__epgrid1-title">Original Brand 212 Perfume Vip Men Long Lasting</h5>
                    </a>
                    <h5 class="ezy__epgrid1-price my-2">$1725.00</h5>
                    <div class="ezy__epgrid1-details d-flex justify-content-between align-items-center">
                      <h5 class="ezy__epgrid1-ratings"><i class="fas fa-star me-1"></i>4.6</h5>
                      <a href="#!">
                        <h5 class="ezy__epgrid1-cart"><i class="fas fa-shopping-cart"></i></h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card end -->
              <!-- card start -->
              <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="card ezy__epgrid1-card position-relative p-2">
                  <a href="#!">
                    <div class="ezy__epgrid1-fav-icon"><i class="fas fa-heart"></i></div>
                  </a>
                  <div class="card-body">
                    <div class="ezy__epgrid1-card-img d-flex justify-content-center align-items-center h-100 px-4">
                      <a href="#!">
                        <img src="https://cdn.easyfrontend.com/pictures/ecommerce/headphone.png" alt="..." />
                      </a>
                    </div>
                  </div>

                  <div class="card-body h-100 pt-0 text-start">
                    <a href="#!">
                      <h5 class="ezy__epgrid1-title">Wireless Headset Bluetooth Earphones and Headphone</h5>
                    </a>
                    <h5 class="ezy__epgrid1-price my-2">$125.00</h5>
                    <div class="ezy__epgrid1-details d-flex justify-content-between align-items-center">
                      <h5 class="ezy__epgrid1-ratings"><i class="fas fa-star me-1"></i>4.1</h5>
                      <a href="#!">
                        <h5 class="ezy__epgrid1-cart"><i class="fas fa-shopping-cart"></i></h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card end -->
              <!-- card start -->
              <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="card ezy__epgrid1-card position-relative p-2">
                  <a href="#!">
                    <div class="ezy__epgrid1-fav-icon"><i class="fas fa-heart"></i></div>
                  </a>
                  <div class="card-body">
                    <div class="ezy__epgrid1-card-img d-flex justify-content-center align-items-center h-100 px-4">
                      <a href="#!">
                        <img src="https://cdn.easyfrontend.com/pictures/products/bag2.png" alt="..." />
                      </a>
                    </div>
                  </div>

                  <div class="card-body h-100 pt-0 text-start">
                    <a href="#!">
                      <h5 class="ezy__epgrid1-title">Teenage Girls and Boys Backpack Schoolbag High Quality Backpacks</h5>
                    </a>
                    <h5 class="ezy__epgrid1-price my-2">$116.00</h5>
                    <div class="ezy__epgrid1-details d-flex justify-content-between align-items-center">
                      <h5 class="ezy__epgrid1-ratings"><i class="fas fa-star me-1"></i>4.0</h5>
                      <a href="#!">
                        <h5 class="ezy__epgrid1-cart"><i class="fas fa-shopping-cart"></i></h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card end -->
              <!-- card start -->
              <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="card ezy__epgrid1-card position-relative p-2">
                  <a href="#!">
                    <div class="ezy__epgrid1-fav-icon"><i class="fas fa-heart"></i></div>
                  </a>
                  <div class="card-body">
                    <div class="ezy__epgrid1-card-img d-flex justify-content-center align-items-center h-100 px-4">
                      <a href="#!">
                        <img src="https://cdn.easyfrontend.com/pictures/products/lamp1.png" alt="..." />
                      </a>
                    </div>
                  </div>
                  <div class="card-body h-100 pt-0 text-start">
                    <a href="#!">
                      <h5 class="ezy__epgrid1-title">Touch Rechargeable Bud Table Lamps LED Creative</h5>
                    </a>
                    <h5 class="ezy__epgrid1-price my-2">$725.00</h5>
                    <div class="ezy__epgrid1-details d-flex justify-content-between align-items-center">
                      <h5 class="ezy__epgrid1-ratings"><i class="fas fa-star me-1"></i>4.8</h5>
                      <a href="#!">
                        <h5 class="ezy__epgrid1-cart"><i class="fas fa-shopping-cart"></i></h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card end -->
              <!-- card start -->
              <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="card ezy__epgrid1-card position-relative p-2">
                  <a href="#!">
                    <div class="ezy__epgrid1-fav-icon"><i class="fas fa-heart"></i></div>
                  </a>
                  <div class="card-body">
                    <div class="ezy__epgrid1-card-img d-flex justify-content-center align-items-center h-100 px-4">
                      <a href="#!">
                        <img src="https://cdn.easyfrontend.com/pictures/ecommerce/chair.png" alt="..." />
                      </a>
                    </div>
                  </div>
                  <div class="card-body h-100 pt-0 text-start">
                    <a href="#!">
                      <h5 class="ezy__epgrid1-title">Side Chair Back Chair Fabric Upholstered Seat Chairs</h5>
                    </a>
                    <h5 class="ezy__epgrid1-price my-2">$185.00</h5>
                    <div class="ezy__epgrid1-details d-flex justify-content-between align-items-center">
                      <h5 class="ezy__epgrid1-ratings"><i class="fas fa-star me-1"></i>4.1</h5>
                      <a href="#!">
                        <h5 class="ezy__epgrid1-cart"><i class="fas fa-shopping-cart"></i></h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card end -->
              <!-- card start -->
              <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="card ezy__epgrid1-card position-relative p-2">
                  <a href="#!">
                    <div class="ezy__epgrid1-fav-icon"><i class="fas fa-heart"></i></div>
                  </a>
                  <div class="card-body">
                    <div class="ezy__epgrid1-card-img d-flex justify-content-center align-items-center h-100 px-4">
                      <a href="#!">
                        <img src="https://cdn.easyfrontend.com/pictures/products/shoe2.png" alt="..." />
                      </a>
                    </div>
                  </div>

                  <div class="card-body h-100 pt-0 text-start">
                    <a href="#!">
                      <h5 class="ezy__epgrid1-title">Size 21-30 Children Basketball Shoes Girls Boys</h5>
                    </a>
                    <h5 class="ezy__epgrid1-price my-2">$1525.00</h5>
                    <div class="ezy__epgrid1-details d-flex justify-content-between align-items-center">
                      <h5 class="ezy__epgrid1-ratings"><i class="fas fa-star me-1"></i>4.2</h5>
                      <a href="#!">
                        <h5 class="ezy__epgrid1-cart"><i class="fas fa-shopping-cart"></i></h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card end -->
              <!-- card start -->
              <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="card ezy__epgrid1-card position-relative p-2">
                  <a href="#!">
                    <div class="ezy__epgrid1-fav-icon"><i class="fas fa-heart"></i></div>
                  </a>
                  <div class="card-body">
                    <div class="ezy__epgrid1-card-img d-flex justify-content-center align-items-center h-100 px-4">
                      <a href="#!">
                        <img src="https://cdn.easyfrontend.com/pictures/products/sofa3.png" alt="..." />
                      </a>
                    </div>
                  </div>

                  <div class="card-body h-100 pt-0 text-start">
                    <a href="#!">
                      <h5 class="ezy__epgrid1-title">
                        Solid Chair Cover Office Computer Spandex Split Seat Cover Universal
                      </h5>
                    </a>
                    <h5 class="ezy__epgrid1-price my-2">$2225.00</h5>
                    <div class="ezy__epgrid1-details d-flex justify-content-between align-items-center">
                      <h5 class="ezy__epgrid1-ratings"><i class="fas fa-star me-1"></i>4.9</h5>
                      <a href="#!">
                        <h5 class="ezy__epgrid1-cart"><i class="fas fa-shopping-cart"></i></h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card end -->
              <!-- card start -->
              <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="card ezy__epgrid1-card position-relative p-2">
                  <a href="#!">
                    <div class="ezy__epgrid1-fav-icon"><i class="fas fa-heart"></i></div>
                  </a>
                  <div class="card-body">
                    <div class="ezy__epgrid1-card-img d-flex justify-content-center align-items-center h-100 px-4">
                      <a href="#!">
                        <img src="https://cdn.easyfrontend.com/pictures/products/glass2.png" alt="..." />
                      </a>
                    </div>
                  </div>
                  <div class="card-body h-100 pt-0 text-start">
                    <a href="#!">
                      <h5 class="ezy__epgrid1-title">Luxury Square Vintage Polarized Sunglasses For Men Women</h5>
                    </a>
                    <h5 class="ezy__epgrid1-price my-2">$2925.00</h5>
                    <div class="ezy__epgrid1-details d-flex justify-content-between align-items-center">
                      <h5 class="ezy__epgrid1-ratings"><i class="fas fa-star me-1"></i>3.6</h5>
                      <a href="#!">
                        <h5 class="ezy__epgrid1-cart"><i class="fas fa-shopping-cart"></i></h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card end -->
              <!-- card start -->
              <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="card ezy__epgrid1-card position-relative p-2">
                  <a href="#!">
                    <div class="ezy__epgrid1-fav-icon"><i class="fas fa-heart"></i></div>
                  </a>
                  <div class="card-body">
                    <div class="ezy__epgrid1-card-img d-flex justify-content-center align-items-center h-100 px-4">
                      <a href="#!">
                        <img src="https://cdn.easyfrontend.com/pictures/products/bottle3.png" alt="..." />
                      </a>
                    </div>
                  </div>
                  <div class="card-body h-100 pt-0 text-start">
                    <a href="#!">
                      <h5 class="ezy__epgrid1-title">2L Water Bottle Sports Outdoor Gym Drinking Water</h5>
                    </a>
                    <h5 class="ezy__epgrid1-price my-2">$175.00</h5>
                    <div class="ezy__epgrid1-details d-flex justify-content-between align-items-center">
                      <h5 class="ezy__epgrid1-ratings"><i class="fas fa-star me-1"></i>4.5</h5>
                      <a href="#!">
                        <h5 class="ezy__epgrid1-cart"><i class="fas fa-shopping-cart"></i></h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card end -->
              <!-- card start -->
              <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="card ezy__epgrid1-card position-relative p-2">
                  <a href="#!">
                    <div class="ezy__epgrid1-fav-icon"><i class="fas fa-heart"></i></div>
                  </a>
                  <div class="card-body">
                    <div class="ezy__epgrid1-card-img d-flex justify-content-center align-items-center h-100 px-4">
                      <a href="#!">
                        <img src="https://cdn.easyfrontend.com/pictures/products/sbag2.png" alt="..." />
                      </a>
                    </div>
                  </div>

                  <div class="card-body h-100 pt-0 text-start">
                    <a href="#!">
                      <h5 class="ezy__epgrid1-title">Fashion Mom Shopping Bag Tote Bag Men Ladies Folding</h5>
                    </a>
                    <h5 class="ezy__epgrid1-price my-2">$225.00</h5>
                    <div class="ezy__epgrid1-details d-flex justify-content-between align-items-center">
                      <h5 class="ezy__epgrid1-ratings"><i class="fas fa-star me-1"></i>4.7</h5>
                      <a href="#!">
                        <h5 class="ezy__epgrid1-cart"><i class="fas fa-shopping-cart"></i></h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card end -->
              <!-- card start -->
              <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="card ezy__epgrid1-card position-relative p-2">
                  <a href="#!">
                    <div class="ezy__epgrid1-fav-icon"><i class="fas fa-heart"></i></div>
                  </a>
                  <div class="card-body">
                    <div class="ezy__epgrid1-card-img d-flex justify-content-center align-items-center h-100 px-4">
                      <a href="#!">
                        <img src="https://cdn.easyfrontend.com/pictures/ecommerce/watch-2.png" alt="..." />
                      </a>
                    </div>
                  </div>

                  <div class="card-body h-100 pt-0 text-start">
                    <a href="#!">
                      <h5 class="ezy__epgrid1-title">Smart Watch Ultra Series 8 NFC Access Control Unlocking</h5>
                    </a>
                    <h5 class="ezy__epgrid1-price my-2">$180.00</h5>
                    <div class="ezy__epgrid1-details d-flex justify-content-between align-items-center">
                      <h5 class="ezy__epgrid1-ratings"><i class="fas fa-star me-1"></i>4.9</h5>
                      <a href="#!">
                        <h5 class="ezy__epgrid1-cart"><i class="fas fa-shopping-cart"></i></h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card end -->
            </div>
            <!-- row ends -->
            <!-- button start -->
            <div class="text-center mt-5">
              <a class="btn ezy__epgrid1-btn" href="#" role="">See All</a>
            </div>
          </div>
       </section>
{% endblock %}