.ezy__signin15_0VubPPld {
  /* Bootstrap variables */
  --bs-body-color: #333b7b;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;

  background-image: linear-gradient(to right, #2575fc, #6a11cb);
  color: #fff;
  padding: 120px 0;
}

@media (min-width: 991px) {
  .ezy__signin15_0VubPPld {
    padding: 200px 0;
  }
}

.ezy__signin15_0VubPPld-heading {
  font-weight: 300;
  font-size: 32px;
  line-height: 1;
}

/* form */
.ezy__signin15_0VubPPld-form-card {
  border-radius: 10px;
  overflow: hidden;
}
.ezy__signin15_0VubPPld .form-control {
  min-height: 65px;
  line-height: 40px;
  background-color: #fff;
  color: var(--bs-body-color);
  border-radius: 0;
}
.ezy__signin15_0VubPPld .form-control::placeholder {
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
}
.ezy__signin15_0VubPPld .form-control:focus {
  font-weight: 700;
  color: rgba(22, 22, 22, 0.75);
  border-color: var(--ezy-theme-color);
}
/* btn */
.ezy__signin15_0VubPPld-btn {
  height: 65px;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 16;
  line-height: 1;
  background-color: var(--ezy-theme-color);
  color: #ffffff;
  border-radius: 0;
}

.ezy__signin15_0VubPPld-btn:hover {
  color: #ffffff;
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
}
.ezy__signin15_0VubPPld a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}