
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!-- Cart -->
    <link rel="stylesheet" href="{% static 'CSS/cart.css' %}">
    <section class="ezy__epcart6_P6mymb4f" id="ezy__epcart6_P6mymb4f">
        <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card ezy__epcart6_P6mymb4f-card mb-3">
          <div class="card-body px-md-4">
            <h5 class="fs-4 fw-bold mb-3">Shopping Cart (3)</h5>
            <div class="form-check form-control-lg ezy__epcart6_P6mymb4f-form-check mb-0">
              <input class="form-check-input" type="checkbox" value="" id="ezy__epcart6_P6mymb4f-check-all" />
              <label class="form-check-label fs-6 opacity-75" for="ezy__epcart6_P6mymb4f-check-all">Select All</label>
            </div>
          </div>
        </div>
        <div class="card ezy__epcart6_P6mymb4f-card mb-3">
          <div class="card-body px-md-4">
            <div class="row">
              <div class="col d-flex flex-wrap">
                <div class="form-check form-control-lg ezy__epcart6_P6mymb4f-form-check mb-0 me-3">
                  <input class="form-check-input" type="checkbox" value="" id="ezy__epcart6_P6mymb4f-c1-check" />
                  <label class="form-check-label fs-6 opacity-75" for="ezy__epcart6_P6mymb4f-c1-check"
                    >BASEUS Global Store</label
                  >
                </div>
                <button
                  class="btn ezy__epcart6_P6mymb4f-btn-text py-1 d-inline-flex justify-content-center align-items-center opacity-75"
                >
                  <i class="far fa-envelope fs-6 me-1"></i> Contact
                </button>
              </div>
              <div class="col-auto">
                <button class="btn ezy__epcart6_P6mymb4f-btn-text py-1">Get Coupons</button>
              </div>
            </div>
            <hr class="ezy__epcart6_P6mymb4f-hr" />
            <div class="d-flex mb-4">
              <div class="me-3">
                <div class="d-flex align-items-center">
                  <div class="form-check form-control-lg ezy__epcart6_P6mymb4f-form-check mb-0">
                    <input class="form-check-input" type="checkbox" value="" id="ezy__epcart6_P6mymb4f-c1p1-check" />
                    <label class="form-check-label" for="ezy__epcart6_P6mymb4f-c1p1-check"></label>
                  </div>
                  <div class="ezy__epcart6_P6mymb4f-image">
                    <a href="#!">
                      <img
                        src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio20.jpg"
                        alt=""
                        class="img-fluid"
                      />
                    </a>
                  </div>
                </div>
              </div>
              <div>
                <div class="row">
                  <div class="col">
                    <div class="ezy__epcart6_P6mymb4f-heading mb-1">
                      <a href="#!">
                        Wholesale Hexagon Pine Solid Wood Brand Women Watch Display Box Custom Logo Wooden Watch
                        Luxury Box
                      </a>
                    </div>
                    <p class="ezy__epcart6_P6mymb4f-content mb-2">
                      <span class="me-3"><b>Color</b>: Black</span>
                      <span><b>Ships From</b>: China</span>
                    </p>
                    <div class="mb-2">
                      <span class="ezy__epcart6_P6mymb4f-price me-2">BDT 6,638.89</span>
                      <div class="d-flex flex-wrap align-items-center">
                        <span class="ezy__epcart6_P6mymb4f-old-price me-2">BDT 24,589.27</span>
                        <span class="ezy__epcart6_P6mymb4f-mark">-73%</span>
                      </div>
                    </div>
                    <p class="ezy__epcart6_P6mymb4f-content mb-0">
                      <a href="#!">Shipping: US $44.07</a> via BrandName Premium Shipping Estimated Delivery
                      Time:53-53 Days
                    </p>
                  </div>
                  <div class="col-12 col-md-auto mt-3 mt-md-0">
                    <div class="d-flex justify-content-md-end mb-3">
                      <button
                        class="btn ezy__epcart6_P6mymb4f-btn-text p-0 d-inline-flex justify-content-center align-items-center text-decoration-none me-2"
                      >
                        <i class="far fa-heart fs-6"></i>
                      </button>
                      <button
                        class="btn ezy__epcart6_P6mymb4f-btn-text p-0 d-inline-flex justify-content-center align-items-center text-decoration-none"
                      >
                        <i class="fas fa-trash-alt fs-6"></i>
                      </button>
                    </div>
                    <div class="input-group ezy__epcart6_P6mymb4f-qty align-items-center">
                      <button class="btn" type="button">-</button>
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        value="2"
                        aria-label="Example text with button addon"
                        aria-describedby="button-addon1"
                      />
                      <button class="btn" type="button">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex mb-4">
              <div class="me-3">
                <div class="d-flex align-items-center">
                  <div class="form-check form-control-lg ezy__epcart6_P6mymb4f-form-check mb-0">
                    <input class="form-check-input" type="checkbox" value="" id="ezy__epcart6_P6mymb4f-c1p2-check" />
                    <label class="form-check-label" for="ezy__epcart6_P6mymb4f-c1p2-check"></label>
                  </div>
                  <div class="ezy__epcart6_P6mymb4f-image">
                    <a href="#!">
                      <img
                        src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio_1_2.png"
                        alt=""
                        class="img-fluid"
                      />
                    </a>
                  </div>
                </div>
              </div>
              <div>
                <div class="row">
                  <div class="col">
                    <div class="ezy__epcart6_P6mymb4f-heading mb-1">
                      <a href="#!">
                        ABUK Home Appliance Surge Protector Voltage Brownout Plug Outlet Power Strip Surge Protector
                        With Pass Button
                      </a>
                    </div>
                    <p class="ezy__epcart6_P6mymb4f-content mb-2">
                      <span class="me-3"><b>Color</b>: Black</span>
                      <span><b>Ships From</b>: China</span>
                    </p>
                    <div class="mb-2">
                      <span class="ezy__epcart6_P6mymb4f-price me-2">BDT 6,638.89</span>
                      <div class="d-flex flex-wrap align-items-center">
                        <span class="ezy__epcart6_P6mymb4f-old-price me-2">BDT 24,589.27</span>
                        <span class="ezy__epcart6_P6mymb4f-mark">-73%</span>
                      </div>
                    </div>
                    <p class="ezy__epcart6_P6mymb4f-content mb-0">
                      <a href="#!">Shipping: US $44.07</a> via BrandName Premium Shipping Estimated Delivery
                      Time:53-53 Days
                    </p>
                  </div>
                  <div class="col-12 col-md-auto mt-3 mt-md-0">
                    <div class="d-flex justify-content-md-end mb-3">
                      <button
                        class="btn ezy__epcart6_P6mymb4f-btn-text p-0 d-inline-flex justify-content-center align-items-center text-decoration-none me-2"
                      >
                        <i class="far fa-heart fs-6"></i>
                      </button>
                      <button
                        class="btn ezy__epcart6_P6mymb4f-btn-text p-0 d-inline-flex justify-content-center align-items-center text-decoration-none"
                      >
                        <i class="fas fa-trash-alt fs-6"></i>
                      </button>
                    </div>
                    <div class="input-group ezy__epcart6_P6mymb4f-qty align-items-center">
                      <button class="btn" type="button">-</button>
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        value="2"
                        aria-label="Example text with button addon"
                        aria-describedby="button-addon1"
                      />
                      <button class="btn" type="button">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-end mt-4 mt-lg-5">
              <button class="btn ezy__epcart6_P6mymb4f-btn h-auto">Buy From This Seller</button>
            </div>
          </div>
        </div>
        <div class="card ezy__epcart6_P6mymb4f-card mb-3">
          <div class="card-body px-md-4">
            <div class="row">
              <div class="col d-flex flex-wrap">
                <div class="form-check form-control-lg ezy__epcart6_P6mymb4f-form-check mb-0 me-3">
                  <input class="form-check-input" type="checkbox" value="" id="ezy__epcart6_P6mymb4f-c2-check" />
                  <label class="form-check-label fs-6 opacity-75" for="ezy__epcart6_P6mymb4f-c2-check"
                    >DoMyHome Decor Store</label
                  >
                </div>
                <button
                  class="btn ezy__epcart6_P6mymb4f-btn-text py-1 d-inline-flex justify-content-center align-items-center opacity-75"
                >
                  <i class="far fa-envelope fs-6 me-1"></i> Contact
                </button>
              </div>
              <div class="col-auto">
                <button class="btn ezy__epcart6_P6mymb4f-btn-text py-1">Get Coupons</button>
              </div>
            </div>
            <hr class="ezy__epcart6_P6mymb4f-hr" />
            <div class="d-flex mb-4">
              <div class="me-3">
                <div class="d-flex align-items-center">
                  <div class="form-check form-control-lg ezy__epcart6_P6mymb4f-form-check mb-0">
                    <input class="form-check-input" type="checkbox" value="" id="ezy__epcart6_P6mymb4f-c2p1-check" />
                    <label class="form-check-label" for="ezy__epcart6_P6mymb4f-c2p1-check"></label>
                  </div>
                  <div class="ezy__epcart6_P6mymb4f-image">
                    <a href="#!">
                      <img
                        src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio16.jpg"
                        alt=""
                        class="img-fluid"
                      />
                    </a>
                  </div>
                </div>
              </div>
              <div>
                <div class="row">
                  <div class="col">
                    <div class="ezy__epcart6_P6mymb4f-heading mb-1">
                      <a href="#!">
                        Chair Living Room Chairs For Bedroom Dining Desk Chairs Kitchen Bathroom Silla стулья для
                        кухни 가구 Dinning Chair Chaise
                      </a>
                    </div>
                    <p class="ezy__epcart6_P6mymb4f-content mb-2">
                      <span class="me-3"><b>Color</b>: Black</span>
                      <span><b>Ships From</b>: China</span>
                    </p>
                    <div class="mb-2">
                      <span class="ezy__epcart6_P6mymb4f-price me-2">BDT 6,638.89</span>
                      <div class="d-flex flex-wrap align-items-center">
                        <span class="ezy__epcart6_P6mymb4f-old-price me-2">BDT 24,589.27</span>
                        <span class="ezy__epcart6_P6mymb4f-mark">-73%</span>
                      </div>
                    </div>
                    <p class="ezy__epcart6_P6mymb4f-content mb-0">
                      <a href="#!">Shipping: US $44.07</a> via BrandName Premium Shipping Estimated Delivery
                      Time:53-53 Days
                    </p>
                  </div>
                  <div class="col-12 col-md-auto mt-3 mt-md-0">
                    <div class="d-flex justify-content-md-end mb-3">
                      <button
                        class="btn ezy__epcart6_P6mymb4f-btn-text p-0 d-inline-flex justify-content-center align-items-center text-decoration-none me-2"
                      >
                        <i class="far fa-heart fs-6"></i>
                      </button>
                      <button
                        class="btn ezy__epcart6_P6mymb4f-btn-text p-0 d-inline-flex justify-content-center align-items-center text-decoration-none"
                      >
                        <i class="fas fa-trash-alt fs-6"></i>
                      </button>
                    </div>
                    <div class="input-group ezy__epcart6_P6mymb4f-qty align-items-center">
                      <button class="btn" type="button">-</button>
                      <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        value="2"
                        aria-label="Example text with button addon"
                        aria-describedby="button-addon1"
                      />
                      <button class="btn" type="button">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-end mt-4 mt-lg-5">
              <button class="btn ezy__epcart6_P6mymb4f-btn h-auto">Buy From This Seller</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card ezy__epcart6_P6mymb4f-card">
          <div class="card-body p-md-4">
            <h5 class="fs-4 fw-bold mb-4">Order Summary</h5>

            <div class="d-flex justify-content-between align-items-center">
              <span>Subtotal</span>
              <span>US $12.43</span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span>Shipping</span>
              <span>US $321.12</span>
            </div>

            <hr class="ezy__epcart6_P6mymb4f-hr my-4" />
            <div class="d-flex justify-content-between align-items-center">
              <span class="fw-bold">Total</span>
              <span class="fs-4 fw-bold">US $412.21</span>
            </div>

            <button class="btn ezy__epcart6_P6mymb4f-btn w-100 mt-4 mt-lg-5">BUY (0)</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    </section>
    <!-- End Cart -->
</body>
</html>