{% load static %}
<!-- Footer -->
    <link rel="stylesheet" href="{% static 'CSS/footer.css' %}">
    <footer class="ezy__footer18_j6U7vf7S">
      <div class="ezy__footer18_j6U7vf7S-newsletter p-4 p-md-5">
        <h2>Newsletter</h2>
        <form>
          <div class="form-group mt-5 mb-0">
            <div class="input-group d-flex justify-content-center">
              <input type="email" class="form-control" placeholder="Enter Email" />
              <button class="btn btn-danger ezy__footer18_j6U7vf7S-newsletter-btn">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
      <div class="container">
        <div class="row text-center text-sm-start mb-md-5">
          <div class="col-lg-3">
            <h2 class="fw-bold">Easy Frontend</h2>
            <p class="ezy__footer18_j6U7vf7S-text opacity-75 mt-4 pe-lg-4">
              Be the first to find out about exclusive deals, the latest Lookbooks trends. We're on a mission to build a
              better future where technology.
            </p>
          </div>
          <div class="col-sm-6 col-lg-2 mt-4 mt-lg-0">
            <h5>Quick Links</h5>
            <ul class="nav flex-column ezy__footer18_j6U7vf7S-quick-links">
              <li>
                <a href="#!"> Home</a>
              </li>
              <li>
                <a href="#!"> About Us</a>
              </li>
              <li>
                <a href="#!"> Services</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-2 mt-4 mt-lg-0">
            <h5>Social Media</h5>
            <ul class="nav flex-column ezy__footer18_j6U7vf7S-quick-links">
              <li>
                <a href="#!"> Facebook</a>
              </li>
              <li>
                <a href="#!"> Instagram</a>
              </li>
              <li>
                <a href="#!"> LinkedIn</a>
              </li>
              <li>
                <a href="#!"> Twitter</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-2 mt-4 mt-lg-0">
            <h5>Job Info</h5>
            <ul class="nav flex-column ezy__footer18_j6U7vf7S-quick-links">
              <li>
                <a href="#!"> Select</a>
              </li>
              <li>
                <a href="#!"> Service</a>
              </li>
              <li>
                <a href="#!"> Payment</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-3 mt-4 mt-lg-0">
            <h5>Contact Us</h5>
            <ul class="nav flex-column ezy__footer18_j6U7vf7S-quick-links">
              <li>Sylhet, Bangladesh</li>
              <li>
                <a href="#!"><span class="fas fa-envelope me-2 small opacity-50"></span> contact@easyfrontend.com</a>
              </li>
              <li>
                <a href="#!"><span class="fas fa-phone me-2 small opacity-50"></span> +880 1633-154215</a>
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="row d-flex justify-content-between align-items-center text-center text-lg-start">
          <div class="col-md-6">
            <p class="mb-0 mt-1 opacity-75">Copyright &copy; Easy Frontend, All rights reserved</p>
          </div>
          <div class="col-md-6">
            <ul class="ezy__footer18_j6U7vf7S-nav nav justify-content-center justify-content-md-end mt-1">
              <li class="nav-item opacity-75">
                <a class="nav-link" href="#!">Privacy</a>
              </li>
              <li class="nav-item opacity-75">
                <a class="nav-link" href="#!">Security</a>
              </li>
              <li class="nav-item opacity-75">
                <a class="nav-link" href="#!">Terms</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
<!-- Footer -->