
{% extends 'index.html' %}
{% load static %}

{% block content %}

        <!-- Header -->
        <link rel="stylesheet" href="{% static 'CSS/header.css' %}">
        <header class="masthead text-center text-white">
                    <div class="masthead-content">
                        <div class="container px-5">
                            <h1 class="masthead-heading mb-0">Shopping As Lifestyle</h1>
                            <h2 class="masthead-subheading mb-0">Look Like You Feel</h2>
                            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'products:category_list' %}">Start Shop</a>
                        </div>
                    </div>
                    <div class="bg-circle-1 bg-circle"></div>
                    <div class="bg-circle-2 bg-circle"></div>
                    <div class="bg-circle-3 bg-circle"></div>
                    <div class="bg-circle-4 bg-circle"></div>
        </header>
        <!-- Header -->



        <!-- About Us -->
        <link rel="stylesheet" href="{% static 'CSS/about_us.css' %}">
        <section class="ezy__about12 light" id="ezy__about12">
          <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="col-12 col-lg-5 mb-5 mb-lg-0">
                <div class="">
                  <h1 class="ezy__about12-heading">ABOUT US</h1>
                  <p class="ezy__about12-sub-heading my-4">
                    Completely network collaborative web services via user-centric initiatives. Quickly promote sticky
                    testing procedures collaborator before unique process improvements. Since our inception set out in 2012,
                    TalEx has set out to disrupt inception the HR & Talent/Staffing Management industry. Purposefully
                    designed by our founders (Amrita Grewal and Julie Dacar) to connect great companies and great talent.
                  </p>
                  <div class="mt-5">
                    <a class="btn ezy__about12-btn" href="{% url 'subscription:subscribe' %}">Subscribe</a>
                      {% csrf_token %}
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="ms-lg-5">
                  <img src="https://cdn.easyfrontend.com/pictures/quiz_1.png" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>

        </section>
        <!-- About Us -->

    {% endblock %}






